<html>
    <a href="http://localhost:81/">Home</a>
    <head>
        <title>Team-MK IMDb Basic Search Result</title>
    </head>
    <body>
        <h1>Team-MK IMDb Basic Search Result</h1>
        <b>Search String Entered: </b> {{searchstring}} <br>

        <b>Basic Search Results Received from IMDb for Search String Entered</b>

        <div>{{imbd_base_results_title|safe}}</div>

        <div>{{imbd_base_results_name|safe}}</div>

    </body>
    <!-- 
    {{imdb_base_url}}
    <iframe src={{imdb_base_url}} title="IMDb Results for Initial Search String"></iframe>
    -->
</html>